/* 
작성자: 김나연
작성완료일: 22/04/04
페이지명: 회원가입
*/

/* 전체설정 */
* {
    margin: 0;
}

main {
    margin: 0 10%;
}

/* ----------------------------------------------- */
/* all_box */
.all_box {
    width: 900px;
    margin: auto;
    padding: 80px 0;
}

/* 테이블 전체 */
.join_form table {
    margin: auto;
}

.title_box {
    text-align: center;
}

.join_box {
    text-align: center;
}

.all_box form {
    margin-top: 20px;
}

/* ----------------------------------------------- */
/* 회원가입 제목 */
.title_box h1 {
    margin-bottom: 30px;
}

/* 인풋박스 디자인 */
.join_form input[type=text], [type=password] {
    width: 400px;
    height: 40px;
    box-sizing: border-box;
    font-size: 15px;
}

/* 인풋박스 placeholder 크기 */
.join_form input[type=text]::placeholder, [type=password]::placeholder {
    font-size: 13px;
}

/* 인풋박스 버튼 디자인 */
.join_form a {
    display: inline-block;
    width: 90px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: white;
    border: 1px solid #FC6E4D;
    border-radius: 5px;
    line-height: 37px;
    box-sizing: border-box;
}

/* 약관보기 버튼 */
.check_box a {
    border: none;
    font-size: 15px;
    color: #FC6E4D;
    line-height: 25px;
}

/* ----------------------------------------------- */
/* 수신동의 체크박스 전체*/
.join_form input[type=checkbox] {
    display: inline-block;
}

.join_form span {
    display: inline-block;
    padding-top: 20px;
}

/* 인풋박스 마진 */
.join_form td {
    padding: 10px 0 10px 20px;
}

/* 수신동의 폼 정렬 */
.join_form th, td{
    text-align: left;
}

/* 이용약관동의 정렬 */
.join_form tr:nth-child(8) label {
    display: block;
}

/* ----------------------------------------------- */

/* 가입버튼 */
.join_box input {
    margin-top: 30px;
    width: 100px;
    height: 40px;
}

/* ----------------------------------------------- */
/* hr */
.join_box hr {
    margin-top: 20px;
}

/* ----------------------------------------------- */
/* 양식 도움말 체크 완료 전 */
.form_helper p {
    font-size: 14px
}

.form_helper p:before {
    content: '\2022';
    display: inline-block;
    padding: 0 4px 0 2px;
    font-size: 12px;
    vertical-align: 0;
}

.form_helper td {
    padding: 0 0 20px 20px;
}


