/* 
작성자: 김나연
작성완료일: 22/04/04
페이지명: 찜목록
*/

/* 모든 li 스타일 */
li {
    list-style: none;
}
/* 모든 a 스타일 */
a {
    text-decoration: none;
    color: black;
}

/* 전체 브라우저 박스 */
body {
    position: relative;
    margin: 0 10%;
    box-sizing: border-box;
    height: 1000px;
}

/* ----------------------------------------------------------- */
/* 메인 콘텐츠 박스 */
.content_box {
    display: inline-block;
    width: 80%;
    height: 100%; 
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
}

/* ----------------------------------------------------------- */

/* 리뷰관리 제목 */
h1 {
    margin: 30px 0 40px 30px;
}

/* 리뷰 전체 박스 */
.review_wrapper {
    height: 1000px
}

.review_all_box {
    /* border: 1px solid red; */
    position: relative;
    margin-top: 20px;
}

.review_all_box2 {
    /* border: 1px solid red; */
    position: relative;
    top: 3%;
}

/* 리뷰 박스 */
.review_box {
    width: 46%;
    height: 200px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #c4c4c477;
    position: relative;
    margin: 0 30px;
}

/* 2번째 리뷰박스 - 부모 relative는 all_box*/
.content_box .review_box:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
}
/* ----------------------------------------------------------- */
/* 가게명, 리뷰 이미지 */
h3, .review_img {
    margin-left: 20px;
}

/* 가게명 세부설정 */
h3 {
    display: inline-block;
}

/* 가게명 클릭 > */
.review_box > a span {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin-left: -5px;
}

/* 수정, 삭제 버튼 */
.del_btn {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px 20px 0 0;
    font-weight: bold;
}

/* 수정,삭제 호버 */
.del_btn a:first-child:hover, a:last-child:hover {
    color: #FC6E4D;
}


/* ----------------------------------------------------------- */
/* 리뷰 이미지 */
.review_img {
    border-radius: 10px;
    width: 120px;
    height: 120px;
    position: relative;
}

.review_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 10px;
}

/* ----------------------------------------------------------- */
/* 리뷰 소재목,내용 */
.review_text {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 270px;
    height: 120px;
}

/* 별점 색 */
.review_text span:first-child {
    color: #FECB10;
}

/* 주문액, 주문메뉴 간격 */
p {
    margin: 5px;
}

