/* 작성자: 허우림. 업로드일자:2022.04.04. 페이지 이름:매장목록css */
/* rst_list_header.css 랑 합쳐짐. 나중에 매장목록에서 헤더 분리하면 합친 부분 지워야함 */
/* 
수정자 : 김나연
수정완료일 : 2022/05/01
수정내용 : 전체 마진 주석처리 후 html 여백 삭제를 위한 body 마진,패딩값 추가 
*/

/* * {
    margin: 0;
} */

/* body 여백 삭제 */
body {
    padding: 0;
    margin: 0;
}

.box{
    width: 100%;
    height: 300px;
    background-color: #FECB10;
    
}
.white_box{
    position: absolute;
    top: 165px;
    left: 535px; /*1920-박스넓이(850) /2*/
    width: 850px;
    height: 100px;
    z-index: 10;
    background-color:white;
    border-radius: 8px;
}
/*주소 입력 input 박스*/
.search1{
    position: absolute;
    top: 190px;
    left: 560px;
    width: 590px;
    height: 50px;
    z-index: 20;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #F5F5F5;
    padding-left:70px;
    border-style:none;
    font-size: 18px;
    font-weight: 400px;
    background-image: url("../img/marker.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px center;
    outline: none;
    cursor: pointer;
}
.search_btn1{
    position: absolute;
    top: 190px;
    left: 1175px;
    width:185px;
    height: 50px;
    background-color: #FC6E4D;
    z-index:200;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    /*검색 버튼 내 글씨를 수직 가운데정렬*/
    line-height: 50px;
    
}
.find_addr, .search_btn1 > i{
    color: white;
    font-size: 18px;
    font-weight: 600;
    /*아이콘과 글자 사이 거리두기*/
    padding-left: 5px;
    padding-right: 5px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(13,auto);
    grid-template-rows: 1;
    /* border-bottom: 1px solid grey; */
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    margin-left: 10%;
    margin-right: 10%;
    padding-top:30px;
    padding-bottom: 30px; 
    padding-left:1%;
    padding-right:1%;
    column-gap: 1%;
    row-gap: 8px;
}
hr {
    margin:0;
    width:100%;
    border: 1px solid silver;
  }
.grid div{
    margin-top: auto;
}
.category{
    font-size: 17px;
    text-align: center;
    font-weight: 900;
    font-style: black;
}
.container a{
    text-decoration: none;
    color: black;
}
/*----여기부터 rst_list.css-----------*/
.search{
    position:relative;
    float:right;
    margin-right:10%;
    width:39.5%;
    height: 50px;
}
.search2{
    position: relative;
    width: 50%;
    height: 50px;
    font-size:17px;
    border-style:none;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #F5F5F5 ;
    padding-left: 20px;
}
select{
    position: relative;
    width: 40%;
    height: 50px;
    font-size: 17px;
    border-style:none;
    border-radius: 8px;
    padding-left: 50px;
    background-color: #F5F5F5 ;
    background-image: url("../img/order.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px center;
}
/*검색버튼 돋보기*/
.search_btn2{
    position: relative;
    background-color: #FC6E4D;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    white-space: nowrap;
    float:right;
    border-radius: 8px;
}
.search_btn2 i{
	color:white;
}
.search_btn2:hover {
	cursor: pointer;
}
.title{
    margin-left:10%;
    font-weight: bold;
}
.outer-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,auto);
    margin-left: 10%;
    margin-right: 10%;
    column-gap: 1%;
    row-gap: 8px;
}
.outer-grid>div>img{
    width:100%;
    height: 250px;
    object-fit:fill;
    border-radius: 10px;
}
.inner-grid>div>img{
    width:100%;
    height: 100px;
    object-fit:fill;
    border-radius: 10px;
}
.inner-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:4%;

}
.rst_photo img{
	border-radius:10px;
}
/*음식점 이름*/
.rst_name{
    font-size: 15px;
    font-weight:500;
    padding-top:15px;
}
/*음식점 정보(별점,리뷰 등)*/
.rst_info{
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 1%;
}
/*별 그림*/
.rst_info img{
    width: 15px;
    height: 15px;
}
#no-rst {
	margin: 100px 0;
	text-align: center;
	font-weight: bold;
	font-size: 18pt;
}
/* 주소 검색 모달 */
#address-modal {
	display: none;
	position: absolute;
	z-index: 20000;
	width: 100%;
	height: 200%;
	background-color: #00000080;
	backdrop-filter: blur(1px);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
}
#wrapper {
	border: 5px solid #FECB10;
	border-radius: 5px;
	display: flex;
	margin-bottom: 900px;
	justify-content: center;
	align-items: center;
}
.btn-warning {
	width:20%;
	height:48px;
	background-color:#FC6E4D;
	border-radius:12px;
	margin: 85px 0 30px 0;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.btn-warning:hover {
	background-color:#d44424;
}