   
       @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap%27');
       @media (min-width: 768px) {
           .carousel-inner .active,
           .carousel-inner .active + .carousel-item,
           .carousel-inner .active + .carousel-item + .carousel-item,
           .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  { display: block; }
           .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
           .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
           .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
           .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item { transition: none; }
           .carousel-inner .carousel-item-next,
           .carousel-inner .carousel-item-prev { position: relative;  transform: translate3d(0, 0, 0); }
           .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item { position: absolute; top: 0; right: -25%; z-index: -1; display: block; visibility: visible; }
           .active.carousel-item-left + .carousel-item-next.carousel-item-left,
           .carousel-item-next.carousel-item-left + .carousel-item,
           .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
           .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
           .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item { position: relative; transform: translate3d(-100%, 0, 0); visibility: visible; }
           .carousel-inner .carousel-item-next.carousel-item-left { position: absolute;  top: 0;  left: 0;  z-index: -1; display: block; visibility: visible; }
           .carousel-inner .carousel-item-prev.carousel-item-right { position: absolute;  top: 0; left: -25%; z-index: -1;  display: block; visibility: visible; }
           .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
           .carousel-item-prev.carousel-item-right + .carousel-item,
           .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
           .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
           .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item { position: relative; transform: translate3d(100%, 0, 0); display: block; visibility: visible; }
       }
       


       
       * {list-style: none; font-family: 'Nanum Gothic', sans-serif;}
       .restaurant-title { border: 1px solid grey; margin-top: 15px; border-radius: 6px;}
       .restaurant-title .nav { width: 100%; border-bottom: 1px solid grey;}
       .restaurant-title .nav-item {  border-right:  1px solid grey; }
       .restaurant-title .nav-item:last-child { border-right: 0; }
       .nav-pills{ border-radius:  0;}
       
       .btn-like {float: right; color: transparent; text-shadow: 0 0 2px rgba(255,255,255,.7), 0 0 0 #000; border: none; background-color: white; font-size: 25px;}
       .btn-like:hover {text-shadow: 0 0 0 #FC6E4F;}
	   .btn-like.done { color: #FC6E4F;text-shadow: 0;}
       /*.btn-like.done:hover {color: #FC6E4F; text-shadow: 0 0 0 #777;}*/
       
       .btn-warning {width:100%}
       .btn-group-vertical {width: 100%; border-bottom: 1px solid grey;}
       .btn-group-vertical:last-child {border-bottom: 0;}
       .dropdown-menu {position: relative; width: 100%; padding-top: 0; padding-bottom: 0;}
       .img-responsive {border-right: 1px soild grey;}
       .btn-group-vertical button {text-align: left;}
       .dropdown-menu > li {border-bottom: 1px solid gray;}
       .dropdown-menu li {margin-top: 0; margin-bottom: 0;}
       .dropdown-menu  li:last-child {border-bottom: 0;} 
       .container-fluid {border-bottom: 1px solid grey; padding-bottom: 15px;}
       .img-responsive {border-right: 1px solid gray; height: 80px; padding:0; }
       
           .tab-content {
           width: 100%;
       }
       .nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
        color: #fff;
        cursor: default;
        background-color: #FC6E4D;
    	}
    	.nav-link {
        color:black;
    	}
       .row{
           margin: 0;
           
       }
       tab-pane > row {
           border: 1px solid grey;
       }