/*작성자: 허우림. 업로드일자:22-04-15. 파일 설명:공지사항게시판 목록css*/


.hover{
	background:#FECB10;
	color:white;
	cursor:pointer;
}
a:link{
    color:black;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
} 
 ul.tabs li{

    width: 120px; 
    text-align: center;
    cursor: pointer;
} 
.tab-content{
    display: none;
    padding-top: 50px;
    height: 200px;
}  
.tab-content.current{
    display: inherit;
} 
#container {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    /* border:1px solid green; */
}

a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    transition: 1s;
    color:black;
}

li {
    /* float: left; */
    width: 10%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 18px;
    font-weight: bold;
}
.write_btn{
    width:50px;
    height: 30px;
    float:right;
    font-size:15px;
    /* margin-right: 1%; */
    /* display: inline; */
    background-color: #FC6E4D;
    border-radius: 8px;
}
.search{
    position:relative;
    margin-left: 35%;
    text-align: center;
    width:40%;
    height: 50px;
    /* border: 1px solid black; */
}

.search2, select{
    background-color: #F5F5F5;
    border-style:none;
    font-size:18px;
    border-radius: 8px;
    padding-left: 20px;
    box-sizing: border-box;
}
.search2{
    position: relative;
    width: 50%;
    height: 50px;
    /* border: 1px solid pink; */
    box-sizing: border-box;
    


}
select{
    position: relative;
    width: 35%;
    height: 50px;
    box-sizing: border-box;
    /* background-color: pink; */

}
/*검색버튼*/
.search_btn{
    position: relative;
    /* display:inline-block; */
    background-color: #FC6E4D;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-style: none;
    white-space: nowrap;
    float:right;
    border-radius: 8px;
}

.title{
   	/* margin-left:40%; */
    font-size:20px;
    font-weight: bold;

}

.board_count{
    position:absolute;
    /* float:left; */
    margin-right: 15%;
    
}
.outer-grid {
    display: grid;
    width: 100%;
    /* border: 1px solid red; */
}
table{
    /* border:1px solid gray; */
    width: 100%;
     border-spacing: 0px;
    /* border-collapse: separate;  */
}
table th, table tr td{
    height: 50px;
}
th{
    font-size: 20px;
    color:black;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    /* background-color: #f5da7a66; */
    background-color: #F5F5F5;
    /*투명도*/
    /* opacity: 0.5; */
}
tr td{
    /* border-top:1px solid green; */
    font-size: 17px;
    border-bottom:1px solid gray;
    text-align: center;
    
}
.td1{
    width: 20%;
}
.td2{
    width:60%;
}
.td1, .td2{
    border-right: 1px solid gray;
 
}
.numbering{
  text-align: center;
}