<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="./css/footer_style.css">
</head>
<body>
    <footer>
        <div class="all_footer">
            <div class="hr1"><hr></div>
        <div class="footer_list">
            <ul>
                <div class="footer_menu">
                    <li><a href="#">이벤트</a></li>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">자주묻는 질문</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">사장님 로그인</a></li>
                    <li><a href="#">관리자 페이지</a></li>
                </div>
                <div class="footer_sns">
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                </div>
            </ul>
        </div>
        <hr>
        <div class="footer_script">
            <h3>회사 이름</h3>
            <p>
                서울시 강남구 역삼로123 잇츠오더타워2 3층  |  대표자 : 홍길동  |
                사업자등록번호:123-45-67891  |  사업자정보확인통신판매업신고:제 2022-강남역삼-1234호 
                개인정보담당자 : privacy@eatsorder.com  
            </p>
            <p>
                제휴문의 : partnership@eatsorder.com  |  
                고객만족센터 : support@eatsorder.com  |  호스팅 제공자: 잇츠12 주식회사
            </p>
        </div>
        <div class="cs">
            <h1>고객만족센터  123-1234(유료)</h1>
            <p>24시간 연중무휴</p>
        </div>  
        <hr>
        <div class="footer_script2">
            <p>(주)잇츠오더는 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 상품/ 거래정보 및 거래와 관련하여 
                잇츠오더에 등록된 판매자의 고의 또는 과실로 소비자에게 발생하는 손해에 대해 
             </p>
             <p>
                 (주)잇츠오더는 책임을 지지 않습니다. 상품 및 거래에 관하여 보다 정확한 정보는 해당 판매자에게 직접 확인하여 주시기 바랍니다.
                 Copyright EATSORDER. All Rights Reserved.
             </p>
        </div>
        </div>
    </footer>
</body>
</html>