<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="../component/css/login_header_style.css">
    <script src="https://kit.fontawesome.com/6cc0f3db28.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header_top">
            <div class="header_box">
                <a href="/EatsOrder/main/main.do" class="logo"><img src="../component/img/Logo_white.png" alt="로고-아이콘"></a>
                <ul class="icon_menu">
                    <li><a href="/EatsOrder/member/loginForm.do"><i class="fa-solid fa-user"> Login</i></a></li>
                </ul>
            </div>
        </div>
    </header>
</body>
</html>