<!DOCTYPE html>
<html lang="ko">
    <!-- 
        cart 버튼 삭제 : 김나연
        수정일 : 2022/05/01
     -->
<head>
	<style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/6cc0f3db28.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../component/css/main_header_logBefore_style.css">
</head>
<body>
    <header>
        <div class="header_top">
            <div class="logo"><a href="/EatsOrder/main/main.do"><img src="../component/img/Logo.png" alt="로고-아이콘"></a></div>
            <ul class="icon_menu">
	            <li><a href="/EatsOrder/member/loginForm.do"><i class="fa-solid fa-user fa"> Login</i></a></li>
	        </ul>
        </div>
    </header>
</body>

</html>