<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="./css/main_header_logBefore_style.css">
</head>
<body>
    <header>
        <div class="header_top">
            <div class="logo"><a href="/EatsOrder/main/main.do"><img src="./img/Logo.png" alt="로고-아이콘"></a></div>
            <ul class="icon_menu">
	            <li><a href="#"><i class="fa-solid fa-cart-shopping"> Cart</i></a></li>
	            <li><a href="/EatsOrder/member/loginForm.do"><i class="fa-solid fa-user"> Login</i></a></li>
	        </ul>
        </div>
    </header>
</body>

</html>