/* 
작성자: 김나연
작성완료일: 22/04/04
페이지명: 로그인 헤더

수정자 : 김나연
수정완료일 : 2022/05/01
수정내용 : html 여백 삭제를 위한 body 마진,패딩값 추가
*/

/* 전체 적용 */
/* body 여백 삭제 */
body {
    padding: 0;
    margin: 0;
    background-color: white;
}

/* 전체 글씨체 적용 */
.header_top a, h1, h3, button, p {
    font-family: 'Nanum Gothic', sans-serif;
}

/* ------------------------------------------------------------------ */
/* 헤더 탑 */
/* header top- 로고,찜 아이콘 컨테이너 */
.header_top {
    background-color: #FF9F00;
    height: 70px;
}

.header_box {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 헤더 전체버튼 하이퍼링크 */
.header_top a {
    text-decoration: none;
    color: #FF9F00;
}

/* ------------------------------------------------------------------ */

/* 찜,마이페이지,로그인 */
.icon_menu {
    display: inline-block;
    margin: 0;
}


.icon_menu > li {
    box-sizing: border-box;
    list-style: none;
    float: right;
    width: 118px;
    height: 46px;
    border-radius: 8px;
    text-align: center;
    padding-top: 10px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 4px 10px #ff9d0083;
}

/* 마이페이지 드롭다운메뉴 호버 전 */
.icon_menu > li > ul {
    background-color: white;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    padding: 0;
    display: none;
    list-style: none;
    transition: 0.5s;
    
}
/* 마이페이지 드롭다운메뉴 호버 후 */
.icon_menu > li:hover > ul {
    background-color: white;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    padding: 0;
    display: block;
    list-style: none;   
}

.icon_menu > li > ul > li {
    margin: 15px 0;
}
