/* 
작성자: 김나연
작성완료일: 22/04/04
페이지명: 메인 헤더 - 로그인 후 화면 
*/


/* 전체 적용 */
/* 위에 뜸 해결*/
.header_top *{
    margin: 0;
}

/* 전체 글씨체 적용 */
.header_top a, .header_top h1, .header_top h3, .header_top button, .header_top p, .header_top label {
    font-family: 'Nanum Gothic', sans-serif;
}

/* 폰트사이즈, 폰트효과적용 */
/* .header_top a {
    font-size: 16px;
    font-weight: bold;
} */

/* ------------------------------------------------------------------ */
/* 헤더 탑 */
/* header top- 로고,찜 아이콘 컨테이너 */
.header_top {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,auto);
    margin-left: 10%;
    margin-right: 10%;
    column-gap: 1%;
    row-gap: 12px;
}
.header_top a {
    text-decoration: none;
    color: #FF9F00;
}

/* 헤더버튼 하이퍼링크 */
.header_top a, .header_top label {
    text-decoration: none;
    color: #FF9F00;
    font-size: 16px;
    font-weight: bold;
}

/* 로고 */
.logo image {
    width: 118px;
    height: 46px;
    margin-top: 10px;
}

.logo a {
    display: block;
    margin-top: 15px;
}

/* 찜,마이페이지,로그인 */
.icon_menu > li {
    box-sizing: border-box;
    list-style: none;
    float: right;
    width: 118px;
    height: 46px;
    border-radius: 8px;
    text-align: center;
    padding-top: 10px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 4px 10px #ff9d0083;
}

/* 마이페이지 드롭다운메뉴 호버 전 */
.icon_menu > li > ul {
    background-color: white;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    padding: 0;
    display: none;
    list-style: none;
    transition: 0.5s; 
    /* 드롭다운 메뉴 충돌 해결 */
    position: relative;
    z-index: 10;
}

/* 마이페이지 드롭다운메뉴 호버 후 */
.icon_menu > li:hover > ul {
    background-color: white;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    padding: 0;
    display: block;
    list-style: none;   
}

.icon_menu > li > ul > li {
    margin: 15px 0;
}