/* 작성자: 허우림. 업로드일자:22-04-15. 파일 설명: 공지사항 게시판 글쓰기폼 css*/
*{
    font-size:18px;
    border-spacing: 0;
    /* border: 1px solid green; */
}
.title{
    margin-left:15%;
    font-size:30px;
    font-weight: bold;

}
.outer-grid {
    display: grid;
    width: 50%;
    /* border: 1px solid red; */
    margin-left: 25%;
    margin-right: 25%;
    
}
.td1{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width:20%;

}
.td2{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    width:80%;
}
.subject{
    font-weight: bold;
}

input, textarea, select {
    border-radius: 5px;
    border-color: gray;
}
table{
    border: 1px solid gray;
    /* background-color: #F5F5F5; */
    width: 100%;
    height: 500px;
    /* border-spacing: 0px; */
}
td{
    padding:5px;
    border:1px solid gray;
}
th{
    border:1px solid gray;
    background-color:#f5f5f5;
    height: 50px;

}
.subject{
    font-weight: bold;
}
img{
	width:200px;
	height:150px;
}
select{
    width: 200px;
    height: 30px;
    
}
select, .write_sub, .write_cont{
    /* background-color: #FECB10; */
    padding-left: 10px;
}
.write_sub{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
}
.write_cont{
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}
.btn{
    text-align: center;
}
.btn input, .btn a{
    width: 20%;
    height: 40px;
    background-color: #feca104d; 
}

