/* 
작성자: 김나연
작성완료일: 22/04/04
페이지명: 회원가입

수정자 : 정건영
수정일 : 2022/04/10
수정내용 : 동적 웹 페이지를 위한 스타일 시트 추가

수정자 : 김나연
수정일 : 2022/04/30, 2022/05/01
수정내용 : input text, placeholder 글자 크기 조정, 제목 마진 조정
*/

/* 전체설정 */
* {
    margin: 0;
}

a:hover {
	cursor: pointer;
}

main {
    margin: 0 10%;
}

/* ----------------------------------------------- */
/* all_box */
.all_box {
    width: 900px;
    margin: auto;
    padding: 80px 0;
}

/* 테이블 전체 */
.join_form table {
    margin: auto;
}

.title_box {
    text-align: center;
}

.join_box {
    text-align: center;
}

.all_box form {
    margin-top: 20px;
}

/* ----------------------------------------------- */
/* 회원가입 제목 */
.title_box h1 {
    margin-bottom: 30px;
}

/* 인풋박스 디자인 */
.join_form input[type=text], [type=password] {
    width: 400px;
    height: 40px;
    box-sizing: border-box;
    font-size: 17px;
}

/* 인풋박스 placeholder 크기 */
.join_form input[type=text]::placeholder, [type=password]::placeholder {
    font-size: 15px;
}

/* 인풋박스 버튼 디자인 */
.join_form a {
    display: inline-block;
    width: 90px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: white;
    border: 1px solid #FC6E4D;
    border-radius: 5px;
    line-height: 37px;
    box-sizing: border-box;
}

.duplicate_check:hover {
	cursor: pointer;
}

/* 약관보기 버튼 */
.check_box a {
    border: none;
    font-size: 15px;
    color: #FC6E4D;
    line-height: 25px;
}

/* ----------------------------------------------- */
/* 마케팅 수신동의 체크박스 전체*/
.join_form input[type=checkbox] {
    display: inline-block;
}

.join_form span {
    display: inline-block;
    padding-top: 20px;
}

/* 인풋박스 마진 */
.join_form td {
    padding: 10px 0 10px 20px;
}

/* 수신동의 폼 정렬 */
.join_form th, td{
    text-align: left;
}

/* ----------------------------------------------- */

/* 이용약관 정렬 */
tr:nth-child(11) td {
    padding-left: 20px;
}

/* 마케팅동의 정렬 */
tr:nth-child(12) label {
    display: inline-block;
}

tr:nth-child(12) td {
    padding: 0 20px;
}

tr:nth-child(12) span {
    padding: 0;
}

/* ----------------------------------------------- */

/* 가입버튼 */
.join_box button {
    margin-top: 30px;
    width: 100px;
    height: 40px;
}

/* ----------------------------------------------- */
/* hr */
.join_box hr {
    margin-top: 20px;
}

/* ----------------------------------------------- */
/* 양식 도움말 체크 완료 전 */
.form_helper p {
    font-size: 15px
}

/* 일반도움말 특문 유니코드 */
.form_helper p:before {
    content: '\2022'; 
    display: inline-block;
    padding: 0 4px 0 2px;
    font-size: 13px;
    vertical-align: 0;
}

/* 도움말 available 특문 유니코드 */
.available:before {
    content: '\2713'; 
    display: inline-block;
    padding: 0 4px 0 2px;
    font-size: 13px;
    vertical-align: 0;
}

/* 도움말 error 특문 유니코드 */
.error:before {
    content: '\2717'; 
    display: inline-block;
    padding: 0 4px 0 2px;
    font-size: 13px;
    vertical-align: 0;
}

.form_helper td {
    padding: 0 0 20px 20px;
}

/* 오류 메시지와 안내 메시지 */
.error {
	display: none;
	color: red;
	font-weight: bold;
    font-size: 15px
}

.available {
	display: none;
	color: rgb(0, 149, 74);
	font-weight: bold;
    font-size: 15px
}

/* 이용약관 모달 */
#terms-modal {
	display: none;
	position: absolute;
	z-index: 20000;
	width: 100%;
	height: 130%;
	background-color: #00000080;
	backdrop-filter: blur(1px);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
}

#wrapper {
	border: 5px solid black;
	background-color: white;
	width: 90%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
