/* 
작성자: 김나연
작성완료일: 22/04/04
페이지명: 쿠폰함

수정자 : 김나연
수정완료일 : 2022/05/01
수정내용 : html 여백 삭제를 위한 body 마진,패딩값 추가
*/


/* 전체 브라우저 박스 */
main {
    position: relative;
    margin: 0 10%;
    box-sizing: border-box;
    height: 1000px;
}

/* body 여백 삭제 */
body {
    padding: 0;
    margin: 0;
}

/* ----------------------------------------------------------- */

/* 메인 콘텐츠 박스 */
.content_box {
    display: inline-block;
    width: 80%;
    height: 100%; 
    position: absolute;
    top: 0;
    right: 0;
}

/* ----------------------------------------------------------- */

/* 쿠폰함 제목 */
.coupon_wrapper h1 {
    margin: 0 0 30px 40px;
}

/* 쿠폰 묶음 박스 */
.coupon_all_box {
    margin: 7px 0 0px 30px;
}

/* 쿠폰 랩퍼 */
.coupon_wrapper {
    width: 100%;
    height: 100%;
}

/* 쿠폰 컨테이너 */
.coupon_box {
    display: inline-block;
    border: 2px solid #C4C4C4;
    width: 30%;
    height: 300px;
    margin: 10px;
    text-align: center;
}

/* 쿠폰 할인금액 */
.coupon_box div {
    display: inline-block;
    height: 120px;
    width: 100%;
    font-size: 30px;
    line-height: 120px;
    color: #FC6E4D;
    position: relative;
}

/* 쿠폰 액수 */
.coupon_box div > p {
    position: absolute;
    top: 0px;
    right: 31%;
}

/* 쿠폰 상세내용 */
.coupon_box p {
    margin: 5px;
}

.coupon_box img {
    width: inherit;
    height: inherit;
}
