/* 
작성자: 김나연
작성완료일: 22/04/04
페이지명: 마이페이지 사이드 메뉴

수정자 : 김나연
수정완료일 : 2022/05/01
수정내용 : html 여백 삭제를 위한 body 마진,패딩값 추가
*/

/* 전체설정------------------------------------------------------ */
/* 모든 li 스타일 */
.mypage_wrap li {
    list-style: none;
}
/* 모든 a 스타일 */
.mypage_wrap a {
    text-decoration: none;
    color: black;
}

/* 전체 브라우저 박스 */
.mypage_wrap {
    position: absolute;
    box-sizing: border-box;
}

/* body 여백 삭제 */
body {
    padding: 0;
    margin: 0;
}

/* ----------------------------------------------------------- */
/* 마이페이지 제목 마진 */
.mypage_head {
    margin-top: 50px;
}

/* ----------------------------------------------------------- */
/* 프로필 박스 전체 */
.profile_box {
    border: 3px solid #C4C4C4;
    width: 240px;
    height: 403px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 50px;
}

/* 프로필 등급 박스 */
.membership_lv {
    width: 240px;
    height: 150px;
    position: relative;
    box-sizing: border-box;
}

/* 프로필 등급 이미지 */
.membership_lv > div {
    border-radius: 50%;
    background-color: #FF7474;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* 프로필 등급 텍스트 */
.membership_lv > div > strong {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    color: white;
}

/* 고객 인사설정 */
.mypage_wrap p {
    margin: 10% 10%;
}

/* 프로필 목록 */
.profile_box ul {
    padding: 0;
    width: 240px;
    height: 180px;
    position: relative;
    margin-left: -4px;
}

.profile_box li {
    display: inline-block;
    border: 1px dotted white;
    width: 120px;
    height: 90px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    background-color: #E5E5E5;
}

.profile_box li:nth-child(2) {
    right: 0;

}

.profile_box li:nth-child(3) {
    bottom: 0;
}

.profile_box li:nth-child(4) {
    right: 0;
    bottom: 0;
}

.profile_box li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

/* ----------------------------------------------------------- */
/* 퀵메뉴 전체 */
.quick_menu {
    border: 1px solid #C4C4C4;
    width: 240px;
    margin: 25px 0 150px 0;
}

.quick_menu ul {
    padding: 0;
}

/* 퀵메뉴 제목상자 */
.quick_menu > div {
    background-color: #FC6E4D;
    height: 35px;
    padding: 0 0 5px 15px;
}

/* 퀵메뉴 제목 */
.quick_menu > div > h3 {
    margin: 0;
    line-height: 35px;
}

/* 퀵메뉴 목록 */
.quick_menu li {
    margin: 10px 0 10px 15px;
}