/*
작성자: 김나연
작성완료일: 22/04/04
페이지명: 리뷰관리
*/

/* 공통설정 ################################################### */
/* 모든 a 스타일 */
.content_box a {
    text-decoration: none;
    color: black;
}

/* 전체 브라우저 박스 */
main {
    position: relative;
    margin: 0 10%;
    box-sizing: border-box;
    background-color: white;
}


/* ----------------------------------------------------------- */
/* 메인 콘텐츠 박스 */
.content_box {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    /* border: 1px solid red; */
}


/* ----------------------------------------------------------- */
.review_wrapper hr {
    margin: 60px 0 40px 0;
    width: 1090px;
}

/* 리뷰 전체 박스 */
.review_wrapper {
    height: 1000px;
    /* border: 1px solid blue; */
}

/* ----------------------------------------------------------- */
/* 수정, 삭제 버튼 */
.del_btn {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px 20px 0 0;
    font-weight: bold;
}

/* 수정,삭제 호버 */
.del_btn a:hover {
    color: #FC6E4D;
}


/* 그리드 : 작성 전 리뷰############################################ */
.grid_box {
    /* border: 1px solid rgb(0, 255, 136); */
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    margin: 0;
    column-gap: 2%;
    row-gap: 2%;

}

/* 작성 전 리뷰 대제목 */
.review_wrapper h2 {
    margin: 33px 0 20px 0;
}

/* 테이블 전체설정----------------------------------------------- */
/* 전체 테이블 폼 */
.table_box {
    height: 490px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #c4c4c477;
    position: relative;
}

/* shop name ----------------------------------------------- */
/* 가게명 테이블 정렬 */
.shop_name td:first-child {
    text-align: left;
}

/* 가게명 */
.shop {
    display: inline-block;
    margin: 20px 0 0 20px;
}

/* 가게명 > */
.shop_name span {
    font-size: 25px;
    font-weight: bold;
}

/* star_box : 별점  -------------------------------------------- */
/* 별점 주기 */
#star button{
    text-decoration: none;
    color: #939393;
    border: none;
    background-color: white;
    padding: 0;
   }

   #star button.on{
    color: #FECB10;
   } 

   #star button i {
       font-size: 17px;
   }

/* 별점 위치 */
#star {
    margin: 0 0 10px 20px;
}


/* table_box : 파일선택  -------------------------------------------- */
/* 파일선택 */
.table_box input[type=file] {
    margin: 1px 0 1px 20px;
    width: 200px;
}

/* shop_img : 리뷰 이미지  -------------------------------------------- */
/* 이미지 */
.shop_img > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 20px;
}

/* text_box : 리뷰작성칸  -------------------------------------------- */
/* 글자수, 텍스트 작성 위치 */
.text_box {
    text-align: right;
}

/* textarea */
.text_box textarea {   
    resize: none;
    height: 155px;
    width: 268px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    margin: 18px 20px 0 0;
    
}

.text_all {
    margin-left: 10px;
    position: relative;
}

/* submit_btn_box : 작성버튼  -------------------------------------------- */
/* 작성버튼 */
.submit_btn_box {
    text-align: right;
}

#submit_btn {
    margin: 5px 20px 17px 0;
}

/* 리뷰 작성 글자수체크 */
.text_box span {
    display: inline-block;
    font-size: 14px;
    color: #939393;
    margin-top: -20px;
}

/* 글자수체크 : 총글자수 */
.text_total {
    margin-right: 20px;
}


/* 그리드 : 작성 후 리뷰############################################ */
.grid_box2 {
    /* border: 1px solid rgb(0, 255, 136); */
    display: grid;
    height: 67%;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    margin: 0;
    column-gap: 3%;
    row-gap: 3%;
}

/* review_box2 : 작성 후 리뷰 ------------------------------------------- */
/* 리뷰 박스 */
.review_box2 {
    height: 310px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #c4c4c477;
    position: relative;
}

/* 가게명, 리뷰 이미지 */
.review_box2 h3, .review_img {
    margin: 15px 0 0 20px;
}

/* 가게명 세부설정 */
.review_box2 h3 {
    display: inline-block;
}

/* 가게명 클릭 > */
.review_box2 > a span {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin-left: -5px;
}

/* review_img2 : 작성 후 리뷰 ------------------------------------------ */
/* 리뷰 이미지 */
.review_img2 {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: 20px;
}

.review_img2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 10px;
}

/* review_text2 : 작성 후 리뷰 -------------------------------------------- */
/* 리뷰 소재목,내용 */
.review_text2 {
    position: absolute;
    top: 26%;
    right: 4%;
    width: 270px;
    height: 200px;
    margin-top: 10px;
}

/* 리뷰 내용 테두리 */
.review_text2 > div:last-child {
    height: 195px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

/* star_box2 : 작성 후 리뷰 ------------------------------------------ */
/* 리뷰 별점 전체 */
.star_box2 {
    margin: 10px 0 15px 20px;
}

/* 별 기본 회색 */
.star_off i {
    text-decoration: none;
    color: #939393;
   }

/* ------------------------------------------------------------------ */
/* 퀵메뉴 footer 사이 거리 조절 */
#quick_menu {
    border: 1px solid #C4C4C4;
    width: 240px;
    margin: 25px 0 1400px 0;
}

