/*
작성자: 김나연
작성완료일: 22/04/04
페이지명: 비밀번호 찾기

수정자 : 정건영
수정일 : 2022/04/12
수정내용 : 동적 웹 페이지 작동을 위한 스타일 시트 추가

수정자 : 김나연
수정일 : 2022/04/28, 2022/05/01
수정내용 : input text, input placeholder 글씨크기 조절
*/

/* 전체 적용 */
/* 위에 뜸 해결*/
*{
    margin: 0;
}

/* 전체 글씨체 적용 */
.search_wrapper a, .search_wrapper h1, .search_wrapper h3, .search_wrapper button, .search_wrapper p {
    font-family: 'Nanum Gothic', sans-serif;
}

/* ------------------------------------------------------------------ */
/* 메인 그리드 */
main {
    background-color: white;
    display: grid;
    height: 700px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,auto);
    margin: 0 10%;
    column-gap: 1%;
    row-gap: 12px;
}

/* ------------------------------------------------------------------ */

/* 전체 로그인 박스 */
.search_wrapper {
    margin: auto;
}

/* ------------------------------------------------------------------ */
/* 제목 */
.search_box h1 {
    margin-bottom: 35px;
}

/* 인풋박스 제목 공통설정 */
.search_box h4 {
    display: block;
    margin-left: 75px;
    text-align: left; 
    font-weight: bold;
}

/* 인풋박스 제목 각 설정 */
.search_box h4:nth-of-type(1) {
    margin-top: 60px;
}   

.search_box h4:nth-of-type(2) {
    margin-top: 20px;
}

/* 인풋 로그인 박스 */
.search_box {
    text-align: center;
    width: 500px;
}

/* 핸드폰번호 입력 박스 */
.search_box input {
    display: block;
    width: 350px;
    height: 45px;
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 17px;
}

/* 핸드폰번호 입력 박스 placeholder 크기 */
.search_box input::placeholder {
    font-size: 15px;
}

/* ------------------------------------------------------------------ */

/* 양식 도움말 */
#form_helper {
    text-align: left;
    margin: 10px 0 30px 70px;
}

#form_helper p {
    font-size: 14px
}

#form_helper p:before {
    content: '\2022';
    display: inline-block;
    padding: 0 4px 0 2px;
    font-size: 12px;
    vertical-align: 0;
}

/* ------------------------------------------------------------------ */

/* 찾기버튼 */
.search_btn_box input {
    display: block;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto;
    width: 350px;
    height: 45px;
    background-color: #FC6E4D;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.search_btn_box input:hover {
    background-color: #d44424;
}

/* --------------------------------------------------------------------- */

/* 동적 웹 페이지 작동을 위한 추가 부분 */
/* 오류 메시지와 안내 메시지 */
.error {
	display: none;
	color: red;
	font-weight: bold;
}

.available {
	display: none;
	color: green;
	font-weight: bold;
}