/*
작성자: 김나연
작성완료일: 22/04/04
페이지명: 이메일 찾기

수정자 : 정건영
수정일 : 2022/04/10
수정내용 : 동적 웹 페이지 작동을 위한 스타일 시트 추가

수정자 : 김나연
수정일 : 2022/04/28, 2022/05/01
수정내용 : 
1. input text, input placeholder 글씨크기 조절
2. 전체 마진 삭제 후 html 여백 삭제를 위한 body 마진,패딩값 추가
3. 틀어진 정렬 조정
*/

/* 전체 적용 */
/* body 여백 삭제 */
body {
    padding: 0;
    margin: 0;
}

/* 전체 글씨체 적용 */
.search_wrapper a, h1, h3, button, p {
    font-family: 'Nanum Gothic', sans-serif;
}

/* ------------------------------------------------------------------ */
/* 메인 그리드 */
main {
    background-color: white;
    display: grid;
    height: 620px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,auto);
    margin: 0 10%;
    column-gap: 1%;
    row-gap: 12px;
}

/* ------------------------------------------------------------------ */

/* 전체 로그인 박스 */
.search_wrapper {
    margin: auto;
}

/* ------------------------------------------------------------------ */
/* 이메일 찾기 제목 */
.search_box h1 {
    margin-bottom: 70px;
}

/* search_box */
.search_box {
    text-align: center;
    margin-top: 10%;
    position: relative;
}

/* ------------------------------------------------------------------ */
/* 휴대폰 번호 제목 */
.search_box > p {
    text-align: left;
    font-weight: bold;
    position: absolute;
    /*우림 화면에 보이는대로 수정 */
    top: 75px;
    left: 565px;
}

/* 핸드폰번호 입력 박스 */
.search_box input {
    display: block;
    width: 350px;
    height: 45px;
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 17px;
    
}

/* 핸드폰번호 입력 placeholder 크기 */
.search_box input::placeholder {
    font-size: 15px;
}

/* ------------------------------------------------------------------ */

/* 찾기버튼 */
.search_btn_box input {
    display: block;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto;
    width: 350px;
    height: 45px;
    background-color: #FC6E4D;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.search_btn_box input:hover {
    background-color: #d44424;
}



/* ----------------------------------------------- */
/* 
	추가 부분
	찾기 결과를 나타내기 위한 css 
*/
/* 로그인, 회원가입 버튼 */
.button {
    text-decoration: none;   
    display: none;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin: auto;
    margin-top: 75px;
    width: 350px;
    height: 45px;
    background-color: #FC6E4D;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.button:hover {
    background-color: #d44424;
}

#result {
    text-align: center;
    font-size: 16pt;
}

#result_wrapper {
	display: none;
    text-align: center;
    width: 500px;
	margin: auto;
}

#error {
	display: none;
	font-weight: bold;
	color: red;
	margin: 10px 0;
}