/* 
작성자: 김나연
작성완료일: 22/04/04
페이지명: 회원정보수정

수정자 : 김나연
수정일 : 2022/04/28
수정내용 : input text, input placeholder 글씨크기 조절
*/

/* 전체 브라우저 박스 */
main {
    position: relative;
    margin: 0 10%;
    box-sizing: border-box;
    height: 850px;
}

/* body 여백 삭제 */
body {
    padding: 0;
    margin: 0;
}

/* ----------------------------------------------------------- */
/* 메인 콘텐츠 박스 */
.all_box {
    display: inline-block;
    width: 80%;
    height: 100%; 
    position: absolute;
    top: 0;
    right: 0;
}

/* ----------------------------------------------- */
.title_box h1 {
    margin: 0 0 0 58px;
    width: fit-content;
}

/* 테이블 전체 */
.all_box table {
    margin: 30px 30px 20px 30px;
    width: 95%;
}

.title_box {
    text-align: center;
}

.join_box {
    text-align: center;
}

/* ----------------------------------------------- */
/* 인풋박스 디자인 */
.all_box input[type=text], [type=password] {
    width: 250px;
    height: 30px;
    box-sizing: border-box;
    font-size: 17px;
}

/* 인풋박스 placeholder 크기 */
.all_box input[type=text]::placeholder, [type=password]::placeholder {
    font-size: 15px;
}

/* 인풋박스 버튼 디자인 */
.all_box a {
    display: inline-block;
    width: 90px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: black;
    background-color: white;
    border: 1px solid #FC6E4D;
    border-radius: 5px;
    line-height: 30px;
}

.all_box a:hover {
	cursor: pointer;
}

/* 약관보기 버튼 */
.check_box a {
    border: none;
    font-size: 15px;
    color: #FC6E4D;
    line-height: 25px;
    margin-top: 3px;
}

/* ----------------------------------------------- */
/* 수신동의 체크박스 전체*/
.all_box input[type=checkbox] {
    display: inline-block;
}

.all_box span {
    display: inline-block;
}

/* 인풋박스 마진 */
.all_box td {
    padding: 10px 0 10px 20px;
    
}

/* 수신동의 폼 정렬 */
.all_box th{
    text-align: left;
    padding: 0 30px;
}

/* 이용약관동의 정렬 */
.all_box tr:nth-child(8) label {
    display: block;
}

/* ----------------------------------------------- */
/* 가입버튼 컨테이너 */
.member_box {
    width: 100%;
    text-align: center;
}

/* 가입버튼 */
.member_box > input {
    width: 120px;
    height: 40px;
    margin: 40px 0 0 10px;
    background-color: #FC6E4D;
    color: white;
    border: none;
    cursor: pointer;
}

.member_box > input:hover {
    background-color: #d44424;
}

/* 탈퇴버튼 */
.member_box a {
    width: 120px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 0;
    font-size: 14px;
    line-height: 35px;
    border: 1px solid #C4C4C4;
}

/* ----------------------------------------------- */
/* hr */
.title_box hr {
    margin: 35px 0 0 55px;
}

/* ----------------------------------------------- */
/* 양식 도움말 */
/* 양식 도움말 체크 완료 전 */
main p {
    margin: 0;
}

.form_helper p {
    font-size: 14px
}

.form_helper p:before {
    content: '\2022';
    display: inline-block;
    padding: 0 4px 0 2px;
    font-size: 12px;
    vertical-align: 0;
}

/* 제이쿼리 addclass로 good 클래스 추가  */

/* 양식 도움말 체크 완료 후 */
.form_helper p.good {
    color: green;
}

.form_helper p.good:before {
    content: '\2713';
    display: inline-block;
    padding: 0 4px 0 2px;
    font-size: 12px;
    vertical-align: 0;
}


.form_helper td {
    padding: 0 0 20px 20px;
}

#form_helper3 td {
    height: 20px;
}

/* 오류 메시지와 안내 메시지 */
.error {
	display: none;
	color: red;
	font-weight: bold;
}

.available {
	display: none;
	color: green;
	font-weight: bold;
}