/* 
작성자: 김나연
작성완료일: 22/04/04
페이지명: 메인페이지

모달 관련 수정 : 정건영
수정일 : 2022/04/08

input text, placeholder 글자 크기 수정 : 김나연
수정일 : 2022/05/01

event 사진 html 삭제, css background로 추가 수정 : 김나연
수정일 : 2022/05/01
*/

/* 전체 적용 */
/* 전체배경색 */
main {
    background-color: white;
}

/* 전체 글씨체 적용 */
main .header_back a, h1, h3, button, p {
    font-family: 'Nanum Gothic', sans-serif;
}

/* 폰트사이즈, 폰트효과적용 */
.food_select_container a {
    font-size: 16px;
    font-weight: bold;
}

/* 스크롤 부드럽게 */
html { scroll-behavior: smooth; }

/* 화면 여백 없애기 */
body {
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------------------ */
/* 2번째 헤더 */
/* 헤더배경 */
.header_back {
    height: 620px;
    background: linear-gradient(#FBCE2D, #FFB808);
}

.all_header {
    display: grid;
    height: 620px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,auto);
    margin: 0 10%;
    column-gap: 1%;
    row-gap: 12px;
}

/* 헤더 텍스트 */
.header_text {
    padding-top: 190px;
    margin-bottom: 20px;
    line-height: 35px;
}

.header_text h1 {
    color:white;
}

/* 검색바 컨테이터 */
.search_box {
    background-color: white;
    box-sizing: border-box;
    width: 600px;
    height: 225px;
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
    width: 585px;
    position: relative;
}

/* 검색바 공통 */
.search_bar input {
    border-radius: 5px;
}


/* 검색창 간격 */
.search_box div {
    margin-top: 10px;
}

/* 첫번째 검색바 폰트어썸 */
.search_box div:first-child > i {
    position: absolute;
    top: 43px;
    left: 45px;
    color: #FF7474;
}

.search_box div:last-child > i {
    position: absolute;
    top: 103px;
    left: 45px;
    color: #FF7474;
}

/* 검색바 */
.search_box input[type=text] {
    background-color: #F5F5F5;
    width: 452px;
    height: 50px;
    border-style: none;
    padding: 0 40px;
    outline-color: #FC6E4D;
    border-radius: 10px;
    font-size: 17px;
}

/* 검색바 placeholder 글자크기 */
.search_box input[type=text]::placeholder {
    font-size: 15px;
}

.search_box div:first-child > input {
    cursor: pointer;
}

/* 검색버튼 */
.search_box input[type=submit] {
    background-color: #FC6E4D;
    width: 530px;
    height: 50px;
    border-style: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
}

/* 검색 버튼 호버 */
.search_box input[type=submit]:hover {
    background-color: #d44424;
}

/* 메인이미지 */
.main_img_container {
    position: relative;
    overflow: hidden;
}

.main_img_container > img {
    width:680px;
    position: absolute;
    bottom:-12%;
    right: 0;
    transition: 0.5s;
}

.main_img_container > img:hover {
    bottom: -9%;
}

/* ------------------------------------------------------------------ */
/* 메인 */
/* 메인 카테고리 텍스트 */
.main_food_text {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,auto);
    margin-left: 10%;
    margin-right: 10%;
    column-gap: 1%;
    row-gap: 12px;
    text-align: center;
}

.main_food_text > h1 {
    padding: 70px 0;
}

/* ------------------------------------------------------------------ */

/* 메인 카테고리 */
.food_select_container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,auto);
    margin: 0 10% 5% 10%;
    column-gap: 1%;
    row-gap: 12px;
}


/* 카테고리 상자 */
.food_item, .notice {
    display: inline-block;
    width:100%;
    height: 250px;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    text-decoration: none;
    color: black;
    position: relative;
    box-sizing: border-box;
    transition: 0.5s;
}

/* 카테고리 이미지 전체효과 */
.food_item img, .notice img {
    border-radius: 10px;
    transition: 0.5s;

}

/* 카테고리 텍스트 위치 */
.food_item > div {
    margin: 20px 0 0 25px;
    transition: 0.5s;
}

/* 호버 후 캡션 */
.caption {
    width:100%;
    height: 250px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #FC6E4D;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    padding-top: 32%;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transition: 0.5s;

}


/* 음식 카테고리 호버 후 */
.food_item:hover, .notice:hover {
    border: none;
}

.food_item:hover .caption, .notice:hover .caption {
    opacity: 1;
}

/* 메뉴명 호버 후 */
.food_item:hover > div, .notice:hover > div {
    opacity: 0;
}

/* 음식 카테고리 이미지 호버 후 */
.food_item:hover img, .notice:hover img {
    opacity: 0;
}


/* 카테고리 이미지 각각 크기,위치 */
/* 1번째 이미지 - 이벤트 */
/*.notice {
    background-image: url("./img/event.png");
}*/

.food_select_container a:nth-child(1) {
    position: relative;
}
.food_select_container a:nth-child(1) img {
    position: absolute;
    bottom:0;
    right: 0;
    width: 355px;
    height: 100%;
}

/* 1번째 이미지 - 전체보기 */
.food_select_container a:nth-child(2) {
    position: relative;
}
.food_select_container a:nth-child(2) img {
    position: absolute;
    bottom:0;
    right: 0;
}

/* 3번째 이미지 - 1인분 */
.food_select_container a:nth-child(3) {
    position: relative;
}
.food_select_container a:nth-child(3) img {
    position: absolute;
    bottom:0;
    right: 0;
    width: 190px;
}

/* 4번째 이미지 - 프랜차이즈 */
.food_select_container a:nth-child(4) {
    position: relative;
}
.food_select_container a:nth-child(4) img {
    position: absolute;
    bottom:0;
    right: 0;
    width: 280px;
}

/* 5번째 이미지 - 치킨 */
.food_select_container a:nth-child(5) {
    position: relative;
}
.food_select_container a:nth-child(5) img {
    position: absolute;
    bottom:0;
    right: 0;
    width: 280px;
}

/* 6번째 이미지 - 피자 */
.food_select_container a:nth-child(6) {
    position: relative;
}
.food_select_container a:nth-child(6) img {
    position: absolute;
    bottom:0;
    right: 0;
    width: 195px;
}

/* 7번째 이미지 - 중국집 */
.food_select_container a:nth-child(7) {
    position: relative;
}
.food_select_container a:nth-child(7) img {
    position: absolute;
    bottom:0;
    right: 0;
    width: 275px;
}

/* 8번째 이미지 - 한식 */
.food_select_container a:nth-child(8) {
    position: relative;
}
.food_select_container a:nth-child(8) img {
    position: absolute;
    bottom:0;
    right: 0;
    width: 190px;
}

/* 9번째 이미지 - 일식 */
.food_select_container a:nth-child(9) {
    position: relative;
}
.food_select_container a:nth-child(9) img {
    position: absolute;
    bottom:0;
    right: 0;
    width: 190px;
}

/* 10번째 이미지 - 족발 */
.food_select_container a:nth-child(10) {
    position: relative;
}
.food_select_container a:nth-child(10) img {
    position: absolute;
    bottom:0;
    right: 0;
    width: 280px;
}

/* 11번째 이미지 - 야식 */
.food_select_container a:nth-child(11) {
    position: relative;
}
.food_select_container a:nth-child(11) img {
    position: absolute;
    bottom:0;
    right: 0;
    width: 200px;
}

/* 12번째 이미지 - 분식 */
.food_select_container a:nth-child(12) {
    position: relative;
}
.food_select_container a:nth-child(12) img {
    position: absolute;
    bottom:0;
    right: 0;
    width: 225px;
}

/* 13번째 이미지 - 카페 */
.food_select_container a:nth-child(13) {
    position: relative;
}
.food_select_container a:nth-child(13) img {
    position: absolute;
    bottom:0;
    right: 0;
    width: 200px;
}

/* 14번째 이미지 - 편의점 */
.food_select_container a:nth-child(14) {
    position: relative;
}
.food_select_container a:nth-child(14) img {
    position: absolute;
    bottom:0;
    right: 0;
    width: 200px;
}

/* 주소 검색 모달 */
#address-modal {
	display: none;
	position: absolute;
	z-index: 20000;
	width: 100%;
	height: 200%;
	background-color: #00000080;
	backdrop-filter: blur(1px);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-left: 300px;
	align-items: center;
}

#wrapper {
	border: 5px solid #FECB10;
	border-radius: 5px;
	display: flex;
	margin-bottom: 900px;
	justify-content: center;
	align-items: center;
}